/*@font-face {
    font-family: CodaCaption-ExtraBold;
    src: url(../fonts/CodaCaption-ExtraBold.ttf);
}*/

*{
    font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5{
    font-family: CodaCaption-ExtraBold;
}

body{
    margin: 0;
}

.uni-padding{
    padding: 0.7%;
}

#topbar{
    background-color: #576574;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: auto;
}

#tollfree{
    float: left;
    color: #fdfdfd;
    margin: 0;
    margin-top: 5px;
}

#social-icon{
    float: right;
}

.fab{
    background-color: #fdfdfd;
    color: #576574;
    padding: 7px;
    border-radius: 50%;
}

.fa-facebook-f{
    padding: 7px 10px;
}

.fa-whatsapp{
    padding: 7px 9px;
}

.fa-instagram{
    padding: 7px 9px;
}

#logobar img{
    width: 130px;
    height: 50px;
    margin: 25px 0px;
    padding-left: 45px;
}

#navbar{
    background-color: #ee3533;
    
}

#navbar ul{
    margin: 0;
    padding: 0;
}

#navbar ul li{
    display: inline-block;
    padding: 10px 0px;
    padding-right: 35px;
}

#navbar ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}

#poster{
    background-image: url(poster1.jpg);
    height: 500px;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    flex-direction:column ;
}

#poster h1{
    font-size: 50px;
}

#poster p{
    font-size: 18px;
    text-align: center;
}

#whysection{
    overflow: auto;
    margin-bottom: 50px;
}

.red-heading{
    color: #ee3533;
    text-align: center;
    font-size: 35px;
    margin-top: 50px;
}

.section33{
    width: 33.33%;
    float: left;
    text-align: center;
    padding: 0px 50px 0px 50px;
    box-sizing: border-box;
}

.section33 h2{
    color: #ee3533;
}

.section33 p{
    color: #363636;
}

#contact-container{
    background-color: #ee3533;
    color: white;
    overflow: auto;
    padding-top: 20px;
    padding-bottom: 30px;
}

.section70{
    width: 70%;
    float: left;
}

.section30{
    width: 30%;
    float: left;
    text-align: center;
    padding-top: 70px;
}

#contact-btn{
    background-color: white;
    color: #ee3533;
    padding: 15px 50px;
    text-decoration: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
}

.section33 a{
    color: #ee3533;
    font-weight: bold;
    text-decoration: none;
    font-family: CodaCaption-ExtraBold;
    font-size: 14px;
}

#subscribe-section{
    background-color: #ee3533;
    color: white;
    overflow: auto;
    padding-top: 40px;
    padding-bottom: 40px;
}

.section50{
    width: 50%;
    float: left;
}

.section50 h2{
    font-size: 27px;
    text-align: right;
    padding-right: 50px;
}

.section50 form{
    padding-top: 25px;
}

.section50 input[type="text"]{
    padding: 10px 15px;
    font-size: 15px;
    color: #ee3533;
    margin-right: 20px;
    border: 0px;
    width: 45%;
}

.section50 input[type="submit"]{
    padding: 8px 35px;
    font-size: 15px;
    color: #ee3533;
    border: 0px;
}

#img-link{
    background-color: #576574;
    color: white;
    overflow: auto;
}

.div33{
    width: 33.33%;
    float: left !important;
    padding: 25px 50px;
    box-sizing: border-box;
}
.div33 h3{
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 2px;
    font-weight: normal;
}

#footer-menu{
    list-style-type: none;
    padding: 0px;
}

#footer-menu li{
    padding-bottom: 10px;
}

#footer-menu li a{
    text-decoration: none;
    color: white;
}

#footer-menu-container{
    padding-left: 100px;
}

#copyright{
    background-color: #222f3e;
    text-align: center;
    color: #cbcbcb;
    padding: 10px;
}

@media only screen and(max-width: 768px){
    #navbar ul li{
        padding-right: 20px;
    }

    .section70{
        padding-right: 30px;
        box-sizing: border-box;
    }
}

@media only screen and(max-width: 500px){
    #logobar{
        text-align: center;
    }

    #poster h1{
        font-size: 28px;
    }

    .section33, .section30, .section50, .section70, .div33{
        width: 100%;
    }
    
    .section70{
        text-align: center;
        padding-right: 0px;
    }

    .section30{
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .section33 a{
        display: inline-block;
        margin-bottom: 30px;
    }

    .section50h2{
        padding-right: 0px;
        text-align: center;
    }

    .div33{
        padding: 25px 20px;
        text-align: center;
    }

    #footer-menu-container{
        padding-left: 0px;
    }
}

#navbar ul #mobile-cross, #mobile-bar{
    display: none;
}

@media only screen and(max-width: 500px){
    #navbar{
        background-color: #ee3533;
        position: absolute;
        top: 0px;
        height: 100vh;
        width: 280px;
        padding: 0px;
    }

    #navbar ul li{
        display: block;
        padding: 18px 0px;
        padding-right: 35px;
        border-bottom: 1px solid #d8d1d1;
        padding-left: 20px;

    }

    #mobile-cross{
        text-align: right;
    }

    .fa-times-circle{
        font-size: 25px;
    }
    #navbar{
        left: -280px;
        transition: all 0.5s ease;
    }
    #mobile-bar{
        background-color: #ee3533;
        color: white;
        padding: 18px;
        font-size: 28px;
    }

    #navbar ul #mobile-cross, #mobile-bar{
        display: block;
    }
}

